<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<router-outlet></router-outlet>
<nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div> Navigate between views:</div>  
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/upload" routerLinkActive="active" ariaCurrentWhenActive="page">Upload</a></li>
    <li><a routerLink="/view/user" routerLinkActive="active" ariaCurrentWhenActive="page">View all users</a></li>
    <li><a routerLink="/view/group" routerLinkActive="active" ariaCurrentWhenActive="page">View all groups</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->

