<p><strong>Welcome to my first CRUD application!</strong></p>
<p>The upload page <a routerLink="/upload" routerLinkActive="active" ariaCurrentWhenActive="page">upload</a> will:</p>
<ul>
    <li>allow the user to upload an .csv file</li>
    <li>validate that it is an .csv</li>
    <li>return any errors</li>
</ul>
<p>If the .csv file is properly formatted for my application:</p>
<ul>
    <li>this data will be converted to JSON</li>
    <li>added to my database</li>
    <li>rendered in the appropriate frontend views.</li>
</ul>
<p>This is my first full stack project. It is built with: Angular, PostgreSQL, TypeORM, and NestJS.</p>
<p>Let&apos;s test this out:</p>
<a routerLink="/upload" routerLinkActive="active" ariaCurrentWhenActive="page">Upload</a>