<h2>View all users:</h2>
<br>

<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Group</th>
            <th>Group Symbol</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$">
            <td (click)="linkToUser(user.id)" class="clickable">{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.address}}</td>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td (click)="linkToGroup(user.group.id)" class="clickable">{{user.group.name}}</td>
            <td>{{user.group.symbol}}</td>
        </tr>
    </tbody>
</table>
