<h2>Let's upload the file!</h2>
<body>
    <p>This CRUD app is designed to manage a set of users who each may belong to one group.</p>
    <p>A proper .csv will contain a set of users who should have the following characteristics:</p>
    <ul>
        <li>first name</li>
        <li>last name</li>
        <li>address</li>
        <li>city</li>
        <li>state, ie. NY, TX</li>
        <li>group: name, symbol, ie. Murphyverse, MRPH</li>
    </ul>
    <input type="file" class="file-upload" onchange="console.log(event.target.files)">
</body>
