table, th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
tr:hover {background-color: powderblue;}
th {
    background-color: powderblue;
}
.clickable {
  cursor: pointer;
  color:blue;
   text-decoration:underline;
}